<p>Article</p>

<ul>
    {{#each model as |item|}}
        <li>{{item.name}}</li>
    {{/each}}
</ul>

{{ component "my-component" myFunc=(action "myFunc") number=6 page="page string" model=model }}

